<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <base href="https://fathomless-crag-64250.herokuapp.com/" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">

    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="js/bootstrap.js" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            $('#view1').click(function () {
                var id = $(this).attr("hinh");
                $.get("view/" + id);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#view2').click(function () {
                var id = $(this).attr("hinh");
                $.get("view/" + id);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#view3').click(function () {
                var id = $(this).attr("hinh");
                $.get("view/" + id);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#view4').click(function () {
                var id = $(this).attr("hinh");
                $.get("view/" + id);
            });
        });
    </script>

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">1412609-1412624</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="album">Album</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

</ol>
    <div class="row-offcanvas row-offcanvas-left">
        <div id="sidebar" class="sidebar-offcanvas">
            <div class="col-md-12">
                <h3>Menu</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                    <li><a href="#">Section</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="col-md-12">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                   <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Album</a></li>
  <li class="active">Bình Thuận</li>
                   </ol>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="https://lh3.googleusercontent.com/CxQGn-YN17qpaNoHo0ixJMEcZwkm-srLKiLvWhUOEQyOvmZBBQ89tXywwDi5SWnOPsjkiy45HfEmu2CGehipsaoD7hK9AJnLxgKj8xZ6NxEjTcwfDJDPimjNvXG7MOdO8iBPKmzY1rWBWNIY_ZDUdg4MoIG8djq6FQVhgJGCBFsSJwBEMLLEtXCAHP-f0IzC9fOzgBjzmGl0Q5yVQNCY5ah7nbhyx3OW2yUWzGY6INykt339aIE0KOjL3Ju7oymRs34Fc9qf1zXzfwAwosS3AnQIk5UKECFm8QEMSAWmy5mOlq1zC41ntY_t7hSrbb5F-k0fyT6ifSys5aOXERCMvY0QaHRaiGe03CwP4vONicgfBRX_M54e-u7vkT4-M_CUQzkFcV3n3RsPpG-kaeRy3-Vf4W6uLxsoGhyw0DFEyQOr9TUvLgWV_rNLMV5YbQqgaFkEvd-EXk5XdkatIEvbcusGSviRQ_D4Rn08vFpRK1q6F9Fwtl2AxqVtPhUdv4oB-zm6sBorsPPrUftnRyuwlosGTn6aRY3TQu-X5hmyOEVjgQ4VARheDOqyimjSd-BjanXC8sBEkR69MSMyrAKLw_1xYYcxhQ1Zthzvwr67CmC1mPaQd2eMCQ=w1454-h963-no"> <img id="view1" src="https://lh3.googleusercontent.com/CxQGn-YN17qpaNoHo0ixJMEcZwkm-srLKiLvWhUOEQyOvmZBBQ89tXywwDi5SWnOPsjkiy45HfEmu2CGehipsaoD7hK9AJnLxgKj8xZ6NxEjTcwfDJDPimjNvXG7MOdO8iBPKmzY1rWBWNIY_ZDUdg4MoIG8djq6FQVhgJGCBFsSJwBEMLLEtXCAHP-f0IzC9fOzgBjzmGl0Q5yVQNCY5ah7nbhyx3OW2yUWzGY6INykt339aIE0KOjL3Ju7oymRs34Fc9qf1zXzfwAwosS3AnQIk5UKECFm8QEMSAWmy5mOlq1zC41ntY_t7hSrbb5F-k0fyT6ifSys5aOXERCMvY0QaHRaiGe03CwP4vONicgfBRX_M54e-u7vkT4-M_CUQzkFcV3n3RsPpG-kaeRy3-Vf4W6uLxsoGhyw0DFEyQOr9TUvLgWV_rNLMV5YbQqgaFkEvd-EXk5XdkatIEvbcusGSviRQ_D4Rn08vFpRK1q6F9Fwtl2AxqVtPhUdv4oB-zm6sBorsPPrUftnRyuwlosGTn6aRY3TQu-X5hmyOEVjgQ4VARheDOqyimjSd-BjanXC8sBEkR69MSMyrAKLw_1xYYcxhQ1Zthzvwr67CmC1mPaQd2eMCQ=w1454-h963-no" hinh=1></a>
                                <div class="caption">
                                    <h3>
                                        <%= DanhSach.rows[0].ten %>
                                    </h3>
                                    <p>
                                        <%= DanhSach.rows[0].mota %>
                                    </p>
                                    <p>Views:
                                        <%= DanhSach.rows[0].view %>
                                    </p>
                                    <p>Người đăng: <a href="">Anh Tú</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="https://lh3.googleusercontent.com/W5JXezz633iyXwhID82bKKUmZ4QjcdBgSJLcC6kShgFqOY35r0AtMEM_aA0QAWFJzUirBOhaiSu_rtqob4zyU2OptTsm1t6kEW59TG0PfgcEp4mvCdmf5kXgVcUuRwEYBl27bxZD3_BvmUS9ktrLuUm3KiPXu-uwuUa0Dj9vi0js9XdjVtng4jc3MHb49MJsrCJyMHGefX5yHN1_4jwfpyiHh1WeSVkar8ZENGJpk6DhG_OKeePV-ilu6m8MVPXzkSBbUq-BKwCysBDcDbWQavHHyiKW_jp-RVAjM7kXWvIdJ424tGtUC67pTvicnLX2eG-iN6Il4ln10F-5h87Qe6mv4BFeOPGGHDX5GCD2JKp_4eEJuHqYFJjCvjWW8qZcLsGOdqFjzj8r11Ef1d-1AcdLaDT47e-6H_TZdaM_q8FCxCmSxOuyFendvPljpBwlmIFd39sMgLKXnUAag2DRZhd2NfEbuw8qUSj6b2LxzuTF5YD17Xh_XJQ_7K9VMpo7XoWACf13yFwn06AsPGkqecDWWve1f6Zam8gjo2EEiIvayBPHPFmGjB1aR-KPlJbTnfxnHqJrOJH_s5aXGxwbOAdku0Xe7J3wmtOylkxAAcaLE64APzxwsQ=w1454-h963-no"> <img id="view2" src="https://lh3.googleusercontent.com/W5JXezz633iyXwhID82bKKUmZ4QjcdBgSJLcC6kShgFqOY35r0AtMEM_aA0QAWFJzUirBOhaiSu_rtqob4zyU2OptTsm1t6kEW59TG0PfgcEp4mvCdmf5kXgVcUuRwEYBl27bxZD3_BvmUS9ktrLuUm3KiPXu-uwuUa0Dj9vi0js9XdjVtng4jc3MHb49MJsrCJyMHGefX5yHN1_4jwfpyiHh1WeSVkar8ZENGJpk6DhG_OKeePV-ilu6m8MVPXzkSBbUq-BKwCysBDcDbWQavHHyiKW_jp-RVAjM7kXWvIdJ424tGtUC67pTvicnLX2eG-iN6Il4ln10F-5h87Qe6mv4BFeOPGGHDX5GCD2JKp_4eEJuHqYFJjCvjWW8qZcLsGOdqFjzj8r11Ef1d-1AcdLaDT47e-6H_TZdaM_q8FCxCmSxOuyFendvPljpBwlmIFd39sMgLKXnUAag2DRZhd2NfEbuw8qUSj6b2LxzuTF5YD17Xh_XJQ_7K9VMpo7XoWACf13yFwn06AsPGkqecDWWve1f6Zam8gjo2EEiIvayBPHPFmGjB1aR-KPlJbTnfxnHqJrOJH_s5aXGxwbOAdku0Xe7J3wmtOylkxAAcaLE64APzxwsQ=w1454-h963-no" hinh=2></a>
                                <div class="caption">
                                    <h3>
                                        <%= DanhSach.rows[1].ten %>
                                    </h3>
                                    <p>
                                        <%= DanhSach.rows[1].mota %>
                                    </p>
                                    <p>Views:
                                        <%= DanhSach.rows[1].view %>
                                    </p>
                                     <p>Người đăng: <a href="">Anh Tú</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="https://lh3.googleusercontent.com/t2xdVdz2jjKZJ4ESJ0h4B4ex99ICyGmnRYh3UkV1fysXOpMq9iS_QiKe-vtJmEY421OWnGFZKlEF_GSp3zQWfGPgYGOABzmIlVR88gg5rfUY-qps3ELKorb6ath7Q3hwNKfwD8yX4wtkIGqNpIQW1c-f7gfgQy_sl5gcHAZdyL3-AOGjCQots4US2ObX_9QEPjmA7Luac7kd5NvXQpebe-J50WSdnzBw4UlW5Z8_v_x8PeE7SomVEYy5RpytwNFIL_pYQf22EkzxIz7QnXURFRHVsP5S5IeZnve8OvJp0yXP7qFMxkHuTddN6JCQ99zTHe5K_6WXlnYOVXz7CW4Bv8OPMC5SJkVYG5s4kBOIJG8O9sSPtK4ypJHWzn5RRfUiPIY2GW51SE25CFe7zTX4O-VqKJtftn42ziF_z1BUvixMFlNGcsvHT89ulHY1WsSI1vPZGzjIo5pT_kVM6IMPuOh1-17qCFT5W9hFNVqQtx9otPWFSPjfxhDJf7246OPgGOLDfRWtmKVQzyCFqp7nOwDvCXoTnOI2wJmZyRxzKkSvBJHHVk8iiYFxZygeAOwpBtbjCDBmzb3g6TiEsjCPlkYgNhMiF8sRgRR1_xhKBRMEuXubirVqKg=w1454-h963-no"> <img id="view3" src="https://lh3.googleusercontent.com/t2xdVdz2jjKZJ4ESJ0h4B4ex99ICyGmnRYh3UkV1fysXOpMq9iS_QiKe-vtJmEY421OWnGFZKlEF_GSp3zQWfGPgYGOABzmIlVR88gg5rfUY-qps3ELKorb6ath7Q3hwNKfwD8yX4wtkIGqNpIQW1c-f7gfgQy_sl5gcHAZdyL3-AOGjCQots4US2ObX_9QEPjmA7Luac7kd5NvXQpebe-J50WSdnzBw4UlW5Z8_v_x8PeE7SomVEYy5RpytwNFIL_pYQf22EkzxIz7QnXURFRHVsP5S5IeZnve8OvJp0yXP7qFMxkHuTddN6JCQ99zTHe5K_6WXlnYOVXz7CW4Bv8OPMC5SJkVYG5s4kBOIJG8O9sSPtK4ypJHWzn5RRfUiPIY2GW51SE25CFe7zTX4O-VqKJtftn42ziF_z1BUvixMFlNGcsvHT89ulHY1WsSI1vPZGzjIo5pT_kVM6IMPuOh1-17qCFT5W9hFNVqQtx9otPWFSPjfxhDJf7246OPgGOLDfRWtmKVQzyCFqp7nOwDvCXoTnOI2wJmZyRxzKkSvBJHHVk8iiYFxZygeAOwpBtbjCDBmzb3g6TiEsjCPlkYgNhMiF8sRgRR1_xhKBRMEuXubirVqKg=w1454-h963-no" hinh=3></a>
                                <div class="caption">
                                    <h3>
                                        <%= DanhSach.rows[2].ten %>
                                    </h3>
                                    <p>
                                        <%= DanhSach.rows[2].mota %>
                                    </p>
                                    <p>Views:
                                        <%= DanhSach.rows[2].view %>
                                    </p>
                                     <p>Người đăng: <a href="">Anh Tú</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="https://lh3.googleusercontent.com/NEZaz8YguSaKBWQyDqfk2iOz901dLor28u--H_2C47p3CdKavAXl4G0NsNFOoA4v-Wy6ivzxLa9dRWATuszztdbgGOOvChHyMudE1aWAQdYMnmn-wb-qSlRX8CrS_emobWr9fsfARvSmUA44-PmnuZMNfOVkOfDoniT54L4YJ-rgILbp4azkKdR8tq2KRZtx21-kXHnSnebnspVix1H_vajSxD8JvDOa8CbAyeZoSGAz_KcKRCYultFrXhB4yIfDl_MA5G5tqzfXoKt_al24sG3ll6kQFDiHYjdEaNcNwETUeegqe3-aDTSR6Nyop-BnPQZcPIQRB3c9eyco4SMqaOXKQhOzSoxEQLfTEB-QzepxhefVoafU8DscLQsuzSEx5x59UBIZwuweHTNjtsOSvIjUaLlipc1G3ztUqXAg3UwhUTN4aSZ223RwLmJ83ZYBTqN8qSAZ3HSj9Vc1PhpM5fJx-BwZE_PfntI13bwEQAULd-wpPFb1rLSor-IQp3dA90QCKdFOsKUCSWw18fg4_lqoboqrnMSZZjDajuQAU4843Haenn5nFUEhqBqq6V4paPdj54uqaQkwaf6_EEDrKQw1d5DLnRxUa2fBDydILTzz-hPoCBcyFg=w1284-h963-no"> <img id="view4" src="https://lh3.googleusercontent.com/NEZaz8YguSaKBWQyDqfk2iOz901dLor28u--H_2C47p3CdKavAXl4G0NsNFOoA4v-Wy6ivzxLa9dRWATuszztdbgGOOvChHyMudE1aWAQdYMnmn-wb-qSlRX8CrS_emobWr9fsfARvSmUA44-PmnuZMNfOVkOfDoniT54L4YJ-rgILbp4azkKdR8tq2KRZtx21-kXHnSnebnspVix1H_vajSxD8JvDOa8CbAyeZoSGAz_KcKRCYultFrXhB4yIfDl_MA5G5tqzfXoKt_al24sG3ll6kQFDiHYjdEaNcNwETUeegqe3-aDTSR6Nyop-BnPQZcPIQRB3c9eyco4SMqaOXKQhOzSoxEQLfTEB-QzepxhefVoafU8DscLQsuzSEx5x59UBIZwuweHTNjtsOSvIjUaLlipc1G3ztUqXAg3UwhUTN4aSZ223RwLmJ83ZYBTqN8qSAZ3HSj9Vc1PhpM5fJx-BwZE_PfntI13bwEQAULd-wpPFb1rLSor-IQp3dA90QCKdFOsKUCSWw18fg4_lqoboqrnMSZZjDajuQAU4843Haenn5nFUEhqBqq6V4paPdj54uqaQkwaf6_EEDrKQw1d5DLnRxUa2fBDydILTzz-hPoCBcyFg=w1284-h963-no" hinh=4></a>
                                <div class="caption">
                                    <h3>
                                        <%= DanhSach.rows[3].ten %>
                                    </h3>
                                    <p>
                                        <%= DanhSach.rows[3].mota %>
                                    </p>
                                    <p>Views:
                                        <%= DanhSach.rows[3].view %>
                                    </p>
                                     <p>Người đăng: <a href="">Anh Tú</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy;UDPT-2017</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
        </li>
      </ul>
    </div>
  </footer>

    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>
</body>

</html>